.grid-container {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    gap: 10px; 
    grid-template-rows: 100px 60px 1fr 100px;
    grid-template-areas: 
        "cabecalho cabecalho cabecalho"
        "menu menu menu"
        "esquerda conteudo direita"
        "rodape rodape rodape";
    min-height: 80vh;
}

.cabecalho {
    grid-area: cabecalho;
}

.menu {
    grid-area: menu;
}

.coluna-esquerda {
    grid-area: esquerda;
}

.conteudo {
    grid-area: conteudo;
}

.coluna-direita {
    grid-area: direita;
}

.rodape {
    grid-area: rodape;
}

.grid-container > div {
    background-color: #d3d3d3; /* Cinza claro das imagens */
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    font-size: 1.2rem;
    padding: 20px;
}